{:modes {:+ #{:editor.clojurescript :editor.clojure}}
 :snippets [{:name "defn"
             :key "defn"
             :snippet-file "defn.snip"}
            {:name "ns"
             :key "ns"
             :snippet-file "ns.snip"}]}
