{
:desc "My Light Table dotfiles",
 :version "0.1.0",
 :source "https://github.com/cldwalker/ltfiles",
 :behaviors "ltfiles.behaviors",
 :dependencies {
"CSS" "0.0.2",
 "Claire" "0.1.6",
 "Clojure" "0.0.7",
 "GBlame" "0.0.5",
 "HTML" "0.0.2",
 "Javascript" "0.0.1",
 "Keymapper" "0.0.4",
 "Paredit" "0.0.4",
 "Paredit-Plus" "0.0.3",
 "Python" "0.0.3",
 "Rainbow" "0.0.8",
 "Recall" "0.0.6",
 "Vim" "0.0.4",
 "Workspace Nav" "0.0.4"},
 :author "Gabriel Horner",
 :name "ltfiles"}
